<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fun Stuff</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/styles/style.css" />
  </head>
  <body>
    <h1>Silly stuff on the interwebs that I like...</h1>
    <br />
    <br />
    <h3><a href="http://joshreads.com/">The Comics Curmudgeon</a></h3>
    <p>Snark about legacy comic strips like Mark Trail, Family Circus, Judge Parker and Mary Worth.</p><br />
    <br />
    <h3><a href="http://thebloggess.com/">The Bloggess</a></h3>
    <p>Love and lots of cussing.</p><br />
    <br />
    <h3><a href="http://theoatmeal.com/">The Oatmeal</a></h3>
    <p>You don't know about The Oatmeal? Educate yourself, and I'll invite you over to play Exploding Kittens.</p><br />
    <br />
    <h3><a href="http://cuteoverload.com/">Cute Overload</a></h3>
    <p>After 10 years, CO has stopped updating, but there is still plenty of cute to cure whatever ails you.</p><br />
  </body>
</html>
