<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fun Stuff</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
        <link rel="stylesheet" href="/vendors/bootstrap.css" />
        <link rel="stylesheet" href="/vendors/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/assets/styles/style.css" />

        <script type="text/javascript" src="/vendors/bootstrap.js"></script>
        <script type="text/javascript" src="/vendors/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img alt="Brand" src="/assets/images/favicon-32x32.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/views/about.html">About Me</a></li>
        <li class="active"><a href="/views/fun.html">Fun Stuff</a></li>
      </ul>
    </div>
  </nav>
    <h1>Stuff on the interwebs that I like...</h1>
    <br />
    <br />
    <h1>Have Fun</h1>
    <h3><a href="http://joshreads.com/">The Comics Curmudgeon</a></h3>
    <p>Snark about legacy comic strips like Mark Trail, Family Circus, Judge Parker and Mary Worth.</p><br />
    <br />
    <h3><a href="http://thebloggess.com/">The Bloggess</a></h3>
    <p>Love and lots of cussing.</p><br />
    <br />
    <h3><a href="http://theoatmeal.com/">The Oatmeal</a></h3>
    <p>You don't know about The Oatmeal? Educate yourself, and I'll invite you over to play Exploding Kittens.</p><br />
    <h3><a href="https://www.goodreads.com/">Good Reads</a></h3>
    <p>Nothing beats curling up with a good book on a lazy Sunday afternoon.</p><br />
    <h1>Do Good</h1>
    <h3><a href="https://felinerescue.org/">Feline Rescue</a></h3>
    <p>A no-kill cat shelter located in St Paul, MN. Check out the site for information about Rebel, Rebel - an annual Bowie tribute & fundraiser at First Ave.</p><br />
    <h3><a href="https://underdogrescuemn.com/">Underdog Rescue</a></h3>
    <p>A dog rescue group that takes on dogs requiring major medical care. Heck, they even have their own<h6><a href="https://underdogrescuemn.com/donate/underdog-wine/"> wine</a></h6>.</p><br />
    <h3><a href="https://www.wrcmn.org/">The Wildlife Rehabilitation Center of Minnesota</a></h3>
    <p>If you find a sick or injured animal, you can take them to the rehab center or visit their website for tips on what to do.</p><br />
    <br />
  </body>
</html>
