<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/styles/style.css" />
  </head>
  <body>
<p>
Check out some of my work...
<br />
<br />
<a href="https://protected-eyrie-66742.herokuapp.com/">Sassy Scheduler</a>
<br />
<br />
<a href="https://mangogrove.herokuapp.com/">Mango Grove</a>
<br />
<br />
</p>
</body>
</html>
