<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resume</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
        <link rel="stylesheet" href="/vendors/bootstrap.css" />
        <link rel="stylesheet" href="/vendors/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/assets/styles/style.css" />

        <script type="text/javascript" src="/vendors/bootstrap.js"></script>
        <script type="text/javascript" src="/vendors/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img alt="Brand" src="/assets/images/favicon-32x32.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="/views/about.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Me
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/views/portfolio.html">Portfolio</a></li>
            <li><a href="/views/resume.html">Resume</a></li>
          </ul>
        </li>
        <li><a href="/views/fun.html">Fun Stuff</a></li>
      </ul>
    </div>
  </nav>
<img src="/assets/images/joette.poehler_resume.jpg" alt="Joette's resume" />

</body>
</html>
